<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vp.dao.CompanyMapper" >
  <resultMap id="BaseResultMap" type="com.vp.entity.Company" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="avatar_url" property="avatarUrl" jdbcType="VARCHAR" />
    <result column="company_phone" property="companyPhone" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="post_code" property="postCode" jdbcType="VARCHAR" />
    <result column="introduction" property="introduction" jdbcType="VARCHAR" />
    <result column="creator_open_id" property="creatorOpenId" jdbcType="INTEGER" />
    <result column="creator_phone" property="creatorPhone" jdbcType="VARCHAR" />
    <result column="creator_name" property="creatorName" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, company_name, avatar_url, company_phone, province, city, area, post_code, introduction, creator_open_id, creator_phone, creator_name, status
    create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from company
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getDefaultCompanyInfo" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
      c.id,
      c.company_name,
      c.avatar_url,
      c.company_phone,
      c.province,
      c.city,
      c.area,
      c.post_code,
      c.introduction,
      c.creator_open_id,
      c.creator_phone,
      c.creator_name,
      c.status,
      c.create_time,
      c.update_time
    from company c
    left join user_company uc on uc.company_id=c.id
    where open_id=#{openId} and uc.is_default=1
  </select>
  <select id="getDefaultCompany" resultType="com.vp.dto.UserCompanyDto" parameterType="java.lang.String" >
    select
    c.id as companyId,
    c.company_name as companyName,
    c.avatar_url as avatarUrl,
    c.introduction as introduction,
    c.create_time as createTime,
    uc.id as userCompanyId,
    uc.is_default as isDefault,
    uc.role_id as roleId,
    uc.role_name as roleName
    from
    user_company uc
    left join company c on c.id=uc.company_id
    where uc.open_id=#{openId}
    and uc.is_default=1
    and c.status=1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from company
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.vp.entity.Company" useGeneratedKeys="true" keyProperty="id">
    insert into company (id, company_name, avatar_url,
      company_phone, province, city,
      area, post_code, introduction, creator_open_id, creator_phone, creator_name)
    values (#{id,jdbcType=INTEGER}, #{companyName,jdbcType=VARCHAR}, #{avatarUrl,jdbcType=VARCHAR},
      #{companyPhone,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR},
      #{area,jdbcType=VARCHAR}, #{postCode,jdbcType=VARCHAR}, #{introduction,jdbcType=VARCHAR},
      #{creatorOpenId,jdbcType=VARCHAR}, #{creatorPhone,jdbcType=VARCHAR}, #{creatorName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.vp.entity.Company" >
    insert into company
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="avatarUrl != null" >
        avatar_url,
      </if>
      <if test="companyPhone != null" >
        company_phone,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="postCode != null" >
        post_code,
      </if>
      <if test="introduction != null" >
        introduction
      </if>
      <if test="creatorOpenId != null" >
        creator_open_id
      </if>
      <if test="creatorPhone != null" >
        creator_phone
      </if>
      <if test="creatorName != null" >
        creator_name
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="avatarUrl != null" >
        #{avatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="companyPhone != null" >
        #{companyPhone,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="postCode != null" >
        #{postCode,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="creatorOpenId != null" >
        #{creatorOpenId,jdbcType=INTEGER},
      </if>
      <if test="creatorPhone != null" >
        #{creatorPhone,jdbcType=VARCHAR},
      </if>
      <if test="creatorName != null" >
        #{creatorName,jdbcType=VARCHAR}
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.vp.entity.Company" >
    update company
    <set >
      <if test="companyName != null" >
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="avatarUrl != null" >
        avatar_url = #{avatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="companyPhone != null" >
        company_phone = #{companyPhone,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="postCode != null" >
        post_code = #{postCode,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="creatorOpenId != null" >
        creator_open_id = #{creatorOpenId,jdbcType=VARCHAR},
      </if>
      <if test="creatorPhone != null" >
        creator_phone = #{creatorPhone,jdbcType=VARCHAR},
      </if>
      <if test="creatorName != null" >
        creator_name = #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER}
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.vp.entity.Company" >
    update company
    set company_name = #{companyName,jdbcType=VARCHAR},
      avatar_url = #{avatarUrl,jdbcType=VARCHAR},
      company_phone = #{companyPhone,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      post_code = #{postCode,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=VARCHAR},
      creator_open_id = #{creatorOpenId,jdbcType=VARCHAR},
      creator_phone = #{creatorPhone,jdbcType=VARCHAR},
      creator_name = #{creatorName,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectSameNameCompany" resultType="java.lang.Integer">
    select count(1) from company where company_name = #{companyName} and creator_open_id = #{creatorOpenId} and status = 1
  </select>

  <select id="getUserCompanies" resultType="com.vp.dto.UserCompanyDto">
    select
    c.id as companyId,
    c.company_name as companyName,
    c.avatar_url as avatarUrl,
    c.introduction as introduction,
    c.create_time as createTime,
    uc.id as userCompanyId,
    uc.is_default as isDefault,
    uc.role_id as roleId,
    uc.role_name as roleName
    from
    user_company uc
    left join company c on c.id=uc.company_id
    where uc.open_id=#{openId}
    and c.status=1
    and company_name like CONCAT('%',#{searchKey},'%')
  </select>
</mapper>